.DS_Store
.rake_tasks
.powconfig
.rbenv-version
.powrc
.rvmrc
coverage
Capfile
config/deploy.rb
config/initializers/session_store.rb
db/*.sqlite3
config/database.yml
log/*.log
public/assets
public/cache
public/plugin_assets
tmp
themes/*
*~
